<script>
    function submitForm() {
        var form = document.forms['convertform'];
        var otherChild = form['other'];
        var plnChild = form['pln'];

        otherChild.value = otherChild.value.replace(',', '.');
        plnChild.value = plnChild.value.replace(',', '.');

        console.log(otherChild.value + ' ' + plnChild.value);
        
        // if both fields are non-empty, convert selected currency to PLN
        if(otherChild.value != '' && !isNaN(+(otherChild.value)))
        {
            form.removeChild(plnChild);
        }
        else
        {
            form.removeChild(otherChild);
        }
        console.log('A');
        console.log(plnChild.value);
        form.submit();
    }
</script>

<h1>Currency converter</h1>
<form name="convertform" method="GET">
    <label type="text">You send ({{.CurrencyType}}):</label><br />
    <input type="text" name="other" value="{{.CurrencyCount}}">
    <input type="text" name="type" value="{{.CurrencyType}}"><br />
    <label type="text">They receive (PLN):</label><br />
    <input type="text" name="pln" value="{{.Plns}}"><br />
    <input type="button" value="Convert" onclick="submitForm();">
</form>
{{if .IsRate}}
<p>1 {{.CurrencyType}} = <b>{{.Rate}} PLN</b></p>
{{end}}
{{if .IsError}}
<p>{{.Error}}</p>
{{end}}
